In [11]:
import sqlite3
import pandas as pd

import matplotlib.pyplot as plt

In [16]:
# Create your connection.
cnx = sqlite3.connect('/Users/dhimeg/Documents/GitHub/python-datascience/data/cleaned/HealthData/DBs/garmin_activities.db')
df = pd.read_sql_query("SELECT * FROM activities", cnx)

In [14]:
df.head()

,activity_id,name,description,type,course_id,laps,sport,sub_sport,device_serial_number,self_eval_feel,...,hrz_1_hr,hrz_2_hr,hrz_3_hr,hrz_4_hr,hrz_5_hr,hrz_1_time,hrz_2_time,hrz_3_time,hrz_4_time,hrz_5_time
0,13218978226,Strength,None,uncategorized,NaN,1,fitness_equipment,strength_training,None,None,...,95,114,133,152,171,00:00:33.782000,00:00:00.000000,00:00:00.000000,00:00:00.000000,00:00:00.000000
1,9685828246,Future,None,uncategorized,NaN,1,generic,generic,None,None,...,95,114,133,152,171,00:02:14.178000,00:42:04.209000,00:17:19.000000,00:00:40.000000,00:00:00.000000
2,8942370033,Strength,None,uncategorized,NaN,1,fitness_equipment,strength_training,None,None,...,95,114,133,152,171,00:00:13.999000,00:00:17.893000,00:00:00.000000,00:00:00.000000,00:00:00.000000
3,16874228279,Strength,None,uncategorized,NaN,52,fitness_equipment,strength_training,None,Normal,...,95,113,132,151,170,00:18:42.898000,00:25:20.940000,00:03:12.456000,00:00:00.000000,00:00:00.000000
4,9717555136,Round Rock Future,None,uncategorized,NaN,1,generic,generic,None,None,...,95,114,133,152,171,00:08:46.140000,00:48:12.000000,00:05:55.000000,00:00:00.000000,00:00:00.000000

In [ ]:
summary_connection = sqlite3.connect('/Users/dhimeg/Documents/GitHub/python-datascience/data/cleaned/HealthData/DBs/summary.db')
summary_df = pd.read_sql_query("SELECT * FROM days_summary", summary_connection)
summary_df