In [11]:
import sqlite3
import pandas as pd

import matplotlib.pyplot as plt

In [16]:
# Create your connection.
cnx = sqlite3.connect('/Users/dhimeg/Documents/GitHub/python-datascience/data/cleaned/HealthData/DBs/garmin_activities.db')
df = pd.read_sql_query("SELECT * FROM activities", cnx)

In [14]:
df.head()

,activity_id,name,description,type,course_id,laps,sport,sub_sport,device_serial_number,self_eval_feel,...,hrz_1_hr,hrz_2_hr,hrz_3_hr,hrz_4_hr,hrz_5_hr,hrz_1_time,hrz_2_time,hrz_3_time,hrz_4_time,hrz_5_time
0,13218978226,Strength,None,uncategorized,NaN,1,fitness_equipment,strength_training,None,None,...,95,114,133,152,171,00:00:33.782000,00:00:00.000000,00:00:00.000000,00:00:00.000000,00:00:00.000000
1,9685828246,Future,None,uncategorized,NaN,1,generic,generic,None,None,...,95,114,133,152,171,00:02:14.178000,00:42:04.209000,00:17:19.000000,00:00:40.000000,00:00:00.000000
2,8942370033,Strength,None,uncategorized,NaN,1,fitness_equipment,strength_training,None,None,...,95,114,133,152,171,00:00:13.999000,00:00:17.893000,00:00:00.000000,00:00:00.000000,00:00:00.000000
3,16874228279,Strength,None,uncategorized,NaN,52,fitness_equipment,strength_training,None,Normal,...,95,113,132,151,170,00:18:42.898000,00:25:20.940000,00:03:12.456000,00:00:00.000000,00:00:00.000000
4,9717555136,Round Rock Future,None,uncategorized,NaN,1,generic,generic,None,None,...,95,114,133,152,171,00:08:46.140000,00:48:12.000000,00:05:55.000000,00:00:00.000000,00:00:00.000000

In [17]:
summary_connection = sqlite3.connect('/Users/dhimeg/Documents/GitHub/python-datascience/data/cleaned/HealthData/DBs/summary.db')
summary_df = pd.read_sql_query("SELECT * FROM days_summary", summary_connection)
summary_df

,day,hr_avg,hr_min,hr_max,rhr_avg,rhr_min,rhr_max,inactive_hr_avg,inactive_hr_min,inactive_hr_max,...,hydration_intake,sweat_loss_avg,sweat_loss,spo2_avg,spo2_min,rr_waking_avg,rr_max,rr_min,bb_max,bb_min
0,2022-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN
1,2022-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN
2,2022-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN
3,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN
4,2022-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,2024-10-06,83.494652,52.0,119.0,57.0,57.0,57.0,78.620690,57.0,103.0,...,0.0,10.0,10.0,None,None,13.0,24.0,9.0,58.0,5.0
349,2024-10-07,84.245447,56.0,143.0,63.0,63.0,63.0,79.605634,62.0,130.0,...,0.0,28.0,28.0,None,None,13.0,25.0,9.0,50.0,5.0
350,2024-10-08,85.472666,54.0,137.0,57.0,57.0,57.0,78.312500,55.0,120.0,...,0.0,23.0,23.0,None,None,14.0,20.0,9.0,67.0,5.0
351,2024-10-09,83.126736,58.0,125.0,62.0,62.0,62.0,80.242424,60.0,104.0,...,0.0,16.0,16.0,None,None,14.0,25.0,8.0,36.0,5.0
352,2024-10-10,85.747483,62.0,126.0,64.0,64.0,64.0,81.428571,62.0,115.0,...,NaN,NaN,NaN,None,None,13.0,17.0,10.0,25.0,5.0

In [18]:
sleep_connection = sqlite3.connect('/Users/dhimeg/Documents/GitHub/python-datascience/data/cleaned/HealthData/DBs/garmin.db')
sleep_df = pd.read_sql_query("SELECT * FROM sleep_events", sleep_connection)

In [19]:
sleep_df

                       timestamp        event         duration
0     2024-08-25 02:10:57.000000  light_sleep  00:13:00.000000
1     2024-08-25 02:23:57.000000   deep_sleep  00:45:00.000000
2     2024-08-25 03:08:57.000000  light_sleep  00:07:00.000000
3     2024-08-25 03:15:57.000000   deep_sleep  00:15:00.000000
4     2024-08-25 03:30:57.000000  light_sleep  00:06:00.000000
...                          ...          ...              ...
2223  2024-09-27 04:34:45.000000    rem_sleep  01:09:00.000000
2224  2024-09-27 05:43:45.000000  light_sleep  01:12:00.000000
2225  2024-09-27 06:55:45.000000    rem_sleep  00:20:00.000000
2226  2024-09-27 07:15:45.000000        awake  00:02:00.000000
2227  2024-09-27 07:17:45.000000  light_sleep  00:20:00.000000

[2228 rows x 3 columns]